/* CSS Document */

body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; }

a { color:#990000; text-decoration:none;}
a:hover { color:#000; }

.hide { display:none; }


ul.first { display:block; width:95%; margin: 10px auto 0 auto; border: 1px solid #ccc;  border-radius: 10px; background-color:#ccc; min-height:32px; padding:0; overflow:hidden; }
ul.first li { display:inline; margin:10px; font-size:20px; }

div.second { width:300px; background-color:#990000;  position:absolute; z-index:1300; padding:10px; }
ul.second { display:block; padding:0;     }
ul.second li { display:block;  margin:1px auto 0 auto;  padding:10px; background-color:#FFFFFF;}
ul.second li:hover {  background-color:#990000; color:#FFFFFF;}



ul.first2 { display:block; width:95%; margin: 300px auto 0 auto; border: 1px solid #ccc; -moz-border-radius: 10px;  -webkit-border-radius: 10px; border-radius: 10px; background-color:#ccc; min-height:32px; padding:0; overflow:hidden; }
ul.first2 li { display:inline; margin:10px; font-size:20px; }


ul.second2 {display:block; padding:0; width:300px; background-color:#990000; position:absolute; z-index:1300; padding:10px; display:none;}
ul.second2 li { display:block;  margin:1px auto 0 auto;  padding:10px; background-color:#FFFFFF;}
ul.second2 li:hover {  background-color:#990000; color:#FFFFFF;}
 

ul.first3 { display:block; width:150px;; margin: 300px 10 0 auto; border: 1px solid #ccc; -moz-border-radius: 10px;  -webkit-border-radius: 10px; border-radius: 10px; background-color:#ccc; min-height:32px; padding:0; overflow:hidden; }
ul.first3 li { display:block; margin:10px 0 10px 10px; font-size:20px; }
ul.first3 li a { display:block; }
ul.first3 li a:hover { background-color:#fff; }


ul.second3 {display:block; padding:0; width:300px; background-color:#990000; position:absolute; z-index:1300; padding:10px; display:none;}
ul.second3 li { display:block;  margin:1px auto 0 auto;  padding:10px; background-color:#FFFFFF;}
ul.second3 li:hover {  background-color:#990000; color:#FFFFFF;}


ul.first4 { display:block; width:150px;; margin: 300px 10 0 auto; border: 1px solid #ccc; -moz-border-radius: 10px;  -webkit-border-radius: 10px; border-radius: 10px; background-color:#ccc; min-height:32px; padding:0; overflow:hidden; float: right; }
ul.first4 li { display:block; margin:10px 0 10px 10px; font-size:20px; }
ul.first4 li a { display:block; }
ul.first4 li a:hover { background-color:#fff; }



#foot {width:95%; text-align:right; color:#000; clear:both; }
#foot a { color:#990000; }

